@page "/authorization"
@using MICourses.Components.Layout

<NavMenu />

<div class="flex items-center justify-center h-screen">
    <div class="bg-white p-16 rounded shadow-md max-w-lg w-full">

        <h2 class="text-center mb-10" style="font-family: Arial; font-size: 2rem; font-weight: normal; white-space: nowrap;">Вход в личный кабинет</h2>

        <form class="space-y-10">
            <div>
                <input type="text" id="email" name="email"
                       placeholder="Логин / Email"
                       class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" />
            </div>

            <div>
                <input type="password" id="password" name="password"
                       placeholder="Пароль"
                       class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" />
            </div>

            <div>
                <button type="submit"
                        class="w-full text-white py-3 px-4 rounded-md hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-offset-2"
                        style="background-color: rgb(178, 146, 215); font-size: 1.2rem;">
                    Войти
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-lg text-gray-600">
            Еще нет аккаунта?
            <a href="/registration" class="text-purple-500 hover:underline">Зарегистрироваться</a>
        </p>
    </div>
</div>
