@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace MICourses.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- Вставьте ваш JavaScript код здесь -->
    <script>
        function downloadFileFromStream(fileName, fileData) {
            var blob = new Blob([fileData], { type: 'application/octet-stream' });
            var link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = fileName;
            link.click();
        }

    </script>



    <script src="_framework/blazor.server.js"></script>
</body>
</html>
