@using MICourses.Components.Modal
@inherits LayoutComponentBase

<NavMenu OnLoginButtonClick="HandleLoginModalOpen" />

<LoginModal Visible="@isLoginModalVisible" OnClose="HandleLoginModalClose" />

<main>
    @Body
</main>

@code {
    private bool isLoginModalVisible = false;

    private void HandleLoginModalOpen()
    {
        isLoginModalVisible = true;
    }

    private async Task HandleLoginModalClose(bool isVisible)
    {
        isLoginModalVisible = isVisible;
        await Task.CompletedTask;
    }
}
