<link href="css/app.css" rel="stylesheet">

<nav class="navbar">
    <div class="navbar-brand">
        <span class="brand-text">MI</span>
    </div>
    <div class="navbar-buttons">
        <button class="catalog-button">Каталог</button>
        <button class="login-button">Войти</button>
    </div>
</nav>
