@using MICourses.Components.Modal
@using MICourses.Services

@inject ModalService ModalService

<link href="css/app.css" rel="stylesheet">

<nav class="navbar">
    <div class="navbar-brand">
        <span class="brand-text">MI</span>
    </div>
    <div class="navbar-buttons">
        <button class="catalog-button">Каталог</button>
        <button class="login-button" @onclick="NotifyLoginButtonClick">Войти</button>
    </div>
</nav>

@code {
    [Parameter] public EventCallback OnLoginButtonClick { get; set; }

    private async Task NotifyLoginButtonClick()
    {
        await OnLoginButtonClick.InvokeAsync(); // Уведомляем родительский компонент
    }
}


