<link href="css/app.css" rel="stylesheet">

<nav class="navbar">
    <div class="navbar-brand">
        <span class="brand-text">MI</span>
    </div>
    <div class="navbar-buttons">
        <a href="/" class="catalog-button">Каталог</a>
        <a href="/authorization" class="login-button">Войти</a>
    </div>
</nav>
